<div id="products">
	<h1 class="ui-widget-header">My Cartoons...</h1>
	<div id="catalog">
		<h2><a href="#">Politics</a></h2>
		<div>
			<ul id="cartoons">
			</ul>
		</div>
		<h2><a href="#">Business</a></h2>
		<div>
			<ul>
				<li>Business Person1</li>
				<li>Business Person2</li>
				<li>Business Person3</li>
			</ul>
		</div>
		<h2><a href="#">Sports</a></h2>
		<div>
			<ul>
				<li>Cartoon1</li>
				<li>Cartoon2</li>
				<li>Cartoon3</li>
			</ul>
		</div>
	</div>
</div>
<p>Drag Images to your Work Area
<canvas id="workspace" width="600" height="300" style="border:3px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<input type="button" id="convert" value="Convert"/>
