<div id="products">
	<h1 class="ui-widget-header">My Cartoons</h1>
	<div id="catalog">
		<h2><a href="#">Politics</a></h2>
		<div>
			<ul id="cartoons">
			</ul>
		</div>
		<h2><a href="#">Business</a></h2>
		<div>
			<ul>
				<li>Business Person1</li>
				<li>Business Person2</li>
				<li>Business Person3</li>
			</ul>
		</div>
		<h2><a href="#">Sports</a></h2>
		<div>
			<ul>
				<li>Cartoon1</li>
				<li>Cartoon2</li>
				<li>Cartoon3</li>
			</ul>
		</div>
	</div>
</div>

<div id="cart">
	<h1 class="ui-widget-header">My Board</h1>
	<div class="ui-widget-content">
		<ol>
			<li class="placeholder">Place your images here...</li>
		</ol>
	</div>
</div>