<div id="products">
	<h1 class="ui-widget-header">My Cartoons...</h1>
	<div id="catalog">
		<h2><a href="#">Politics</a></h2>
		<div>
			<ul id="cartoons">
			</ul>
		</div>
		<h2><a href="#">Business</a></h2>
		<div>
			<ul>
				<li>Business Person1</li>
				<li>Business Person2</li>
				<li>Business Person3</li>
			</ul>
		</div>
		<h2><a href="#">Sports</a></h2>
		<div>
			<ul>
				<li>Cartoon1</li>
				<li>Cartoon2</li>
				<li>Cartoon3</li>
			</ul>
		</div>
	</div>

</div>
<div id="container"></div>

<a href="/view_images">View Images</a>
<input type="button" id="convert" value="Convert"/>
